<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
  <title>Candy Palace</title>
  <link rel="stylesheet" href="../../css/style.css" />
 </head>

 <body>
  <header>
<<<<<<< Updated upstream
    <h1>Candy Palace</h1>
    <nav>
      <ul>
        <li><a href="/candy">Candy Brands</a></li>
        <li><a href="/hoursy">Hours</a></li>

    <h1>Candy Palace!</h1>
    <nav>
      <ul>
        <li><a href="/menu">Menu</a></li>
        <li><a href="/hours">Hours</a></li>


      </ul>
    </nav>
  </header>
  <div class="content">

     {{{ body }}}

  </div>

 </body>
</html>
