<!doctype html>
<html>
    <head>
    <title>Places</title>
    <link rel="stylesheet" href="../../css/style.css" />
  </head>
  <body>
    <header><h1><a href="/">Places</a></h1></header>
    <main>
      {{{body}}}
    </main>
    <p>Type any State name in the URL and find more information on that place. Example: "<em>profile/(state name)".</em>
  </body>
</html>