body{
	background-color: #f6f9d9;
}
header{
	font-family: serif;
	border: 2px solid rgba(19,25,35,.5);
	margin: 0, 5; 
}

header h1{
	padding: 5%;
	text-align: center;
}
header h1 a{
	color: #022256;
	font-weight: bold;
	text-align: center;
}

h2{
	text-align: center;
}

p{
	text-align: center;
}

main{
	padding: 5%;
	background-color: #c2e2f9;	
}

a{
	color: #4286f4;
}
